<div  style="background-color: #FFFF77; margin: 10px;"></div>  

<section class="container">
  <div class="contentDiv"  style="background-color: #FFFFE7; width: 100%;">
    <div class="col-sm-12">        
            <!--<div class="page-title-background">
                <h3 class=" text-center" style="font-weight: 800">PAST MEMORIES</h3>
            </div>-->
            <div class="col-sm-12 container" style="text-align: left">
              <strong >Q1: This is a 5-day event. Can I attend on any day??</strong>
              <p>Please be a part of us on any day of the event.</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q2: Do I have to pay to have food (Bhog)?</strong>
                <p>NO. We have moved away from being a ticketed event. You may sponsor for a puja day or help us with a donation to cover our costs.</p>
            </div>  
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q3: Are you open all day during the five days? Why is the event running beyond the weekend?</strong>
                <p>We make a humble attempt to align our dates with the actual dates of Durga Puja in India. Hence our days are not restricted to weekends</p>
            </div>  
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q4: Do I have to be in an invitation guest list in order to attend?</strong>
                <p>While that is not 'required', but if you are planning to attend, we would love to hear from you, get a chance to know you. Please drop us a note.</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q5: What is the menu for the meals (Bhog)??</strong>
                <p>Menu is solely decided by our volunteers. We promise a sumptuous hot meal.</p>
            </div>    
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q6: When will bhog be served?</strong>
                <p> In the afternoon(only on Saptami and Ashtami) around 1 pm and in the evening(all days) around 8pm. We will publish the exact timings on our home page shortly</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q7: How can I participate in the cultural, puja or bhog?</strong>
                <p>We welcome all volunteers. Please <a [routerLink]="['/contact']">contact</a> any of our committee members. They will be more than happy to accomodate you.</p>
            </div>  
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q8: Do I need to pay?</strong>
                <p>NO. We have moved away from being a ticketed event. You may sponsor for a puja day or help us with a donation to cover our costs. </p>
            </div>  
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q9: Can I sponsor specific portions or sub-events of the day?</strong>
                <p> Please refer to our <a [routerLink]="['/donate']">donation</a> page for details.</p>
            </div>     
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q10: Is parking available on site?</strong>
                <p> Please refer to the parking details on our <a [routerLink]="['/home']">home</a> page for details.</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q11: Are there dress codes to attend the event?</strong>
                <p>Well, we will be flauting our Indian attire. Please feel free to dress comfortably.</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q12: Do you have climate control in the Pandal?</strong>
                <p> Yes, we have provisioned for a heated tent and all other equipments that are necessary to maintain a room temperature within the facility.</p>
            </div>                  
      </div>
  </div>
</section>
  
<div  style="background-color: #FFFF77; margin: 10px;"></div>
