<div  style="background-color: #FFFF77; margin: 10px;"></div>  

<section class="container">
  <div class="contentDiv"  style="background-color: #FFFFE7; width: 100%;">
    <div class="col-sm-12">        
            <!--<div class="page-title-background">
                <h3 class=" text-center" style="font-weight: 800">PAST MEMORIES</h3>
            </div>-->
            <div class="col-sm-12 container" style="text-align: left">
              <strong >Q1: What are the attendance guidelines ?</strong>
              <p>Due to the recent pandemic, we have outlined some guidelines to be followed to ensure safety of attending patrons and volunteers. During the event, we will have professional deep cleaning of the premises including disinfectant foggers, UV treatment on a daily basis. In lieu of this, we have outlined the below guiding principles that patrons and volunteers should adhere to: </p><p>
              Pre-registration is required. Pre-registration form will be available in our website (www.bostondurgabari.com) starting October 1, 2021</p><p>
              We will limit attendance inside the pandal to ~100 people at a time</p><p>
              Everyone needs to wear masks adhering to CDC guidelines, at all times, except eating/drinking/photos. </p><p>
              Everyone above 12 years may need to show proof of vaccination, if required</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q2: Do I have to pay to have food (Bhog)?</strong>
                <p>NO. We have moved away from being a ticketed event. You may sponsor for a puja day or help us with a donation to cover our costs.</p>
            </div>  
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q3: Are you open all day during the four days? Why is the event running beyond the weekend?</strong>
                <p>We make a humble attempt to align our dates with the actual dates of Durga Puja in India. Hence our days are not restricted to weekends</p>
            </div>  
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q4: How do I pre-register?</strong>
                <p>The pre-registration link will be available on our website from 1st Oct, 2021.</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q5: What is the menu for the meals (Bhog)??</strong>
                <p>Menu is solely decided by our volunteers. We promise a sumptuous hot meal.</p>
            </div>    
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q6: When will bhog be served?</strong>
                <p> We will serve shortly after pushanjali.</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q7: How can I participate in the cultural, puja or bhog?</strong>
                <p>We welcome all volunteers. Please <a [routerLink]="['/contact']">contact</a> any of our committee members. They will be more than happy to accomodate you.</p>
            </div>  
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q8: Do I need to pay?</strong>
                <p>NO. We have moved away from being a ticketed event. You may sponsor for a puja day or help us with a donation to cover our costs. </p>
            </div>  
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q9: Can I sponsor specific portions or sub-events of the day?</strong>
                <p> Please refer to our <a [routerLink]="['/donate']">donation</a> page for details.</p>
            </div>     
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q10: Is parking available on site?</strong>
                <p> Please refer to the parking details on our <a [routerLink]="['/home']">home</a> page for details.</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q11: Are there dress codes to attend the event?</strong>
                <p>Well, we will be flauting our Indian attire. Please feel free to dress comfortably.</p>
            </div> 
            <div class="col-sm-12 container" style="text-align: left">
                <strong >Q12: Do you have climate control in the Pandal?</strong>
                <p> Yes, we have provisioned for a heated tent and all other equipments that are necessary to maintain a room temperature within the facility.</p>
            </div>                  
      </div>
  </div>
</section>
  
<div  style="background-color: #FFFF77; margin: 10px;"></div>
