<div  style="background-color: #FFFF77; margin: 10px;"></div>    
    
<section class="container">
  <div class="contentDiv"  style="background-color: #FFFFE7; width: 100%;">
    <div class="col-sm-12">
            <div class="page-title-background">
                <h3 class=" text-center" style="font-weight: 800">CONTACT US</h3>
            </div>            
                <div class="row"  style="padding: 10px">
                    <div class="col-sm-6">
                        <form name="emailForm" id="emailForm" action="MAILTO:durgabari.boston@gmail.com" method="post" enctype="text/plain">
                            <h3 style="font-weight: bold; color: #000; align-self: left; border: solid, 1px, #000;">Email Us:</h3><br>
                            <div class="row" style="width: 80%; padding-left: 20px;">Your Name (Required)</div>
                            <div class="row" style="width: 80%; padding-left: 20px;"><input type="text" name="Full Name " class="email-input" placeholder="Enter Your Full Name..."></div><br>
                            <div class="row" style="width: 80%; padding-left: 20px;">Your Email (Required)</div>
                            <div class="row" style="width: 80%; padding-left: 20px;"><input type="text" name="Email " class="email-input" placeholder="Enter Your Email..."/></div><br>
                            <div class="row" style="width: 80%; padding-left: 20px;">Subject</div>
                            <div class="row" style="width: 80%; padding-left: 20px;"><input type="text" name="Subject" class="email-input" placeholder="Subject..."></div><br>
                            <div class="row" style="width: 80%; padding-left: 20px;">Your Message</div>
                            <div class="row" style="width: 80%; padding-left: 20px;"><textarea name="Message: " id="messageArea" cols="47" rows="5" placeholder="Enter Your Message Here..."></textarea></div><br>
                            <div class="row" style="width: 80%; padding-left: 20px;"><input type="submit" id="sendButton" class=" btn contact-button" value="Send"></div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <h3 style="font-weight: bold; color: #000">Call Us:</h3><br>
                        <b>Cultural :</b><br>Padmini : (980) 228-6063<br>
                        Nupur : (774) 541-0273<br>
                        Oliya : (804) 714-5526<br>                  
                        <br>
                        <b>Puja :</b><br>Paitik : (980) 228-6063<br>
                        Debnil : (201) 620-4177<br>
                        <br>
                        <b>Bhog :</b><br>Manish : (980) 228-6063<br>
                        <br>  
                        <b>Event details:</b> <br>
                        Rupsha    : (813) 340-2304<br>
                        Indrani   : (781) 420-1817<br>    
                        <br>                     
                        <b>Donation and other questions:</b> <br>
                        Gourab    : (857) 260-9308<br>
                        Debdeep   : (857) 400-6490<br>
                        Manidip   : (781) 420-9294<br>
                        Mitesh    : (917) 957-0548<br>
                        Rakesh    : (857) 264-9014<br>
                        Pamela    : (617) 800-7857<br>
                    </div>
                </div>
            </div>
    </div>
</section>

<div  style="background-color: #FFFF77; margin: 10px;"></div>
