<div  style="background-color: #FFFF77; margin: 10px;"></div>  

<section class="container">
  <div class="contentDiv"  style="background-color: #FFFFE7; width: 100%;">
    <div class="col-sm-12">        
            <!--<div class="page-title-background">
                <h3 class=" text-center" style="font-weight: 800">PAST MEMORIES</h3>
            </div>-->
            <div class="col-sm-12 container">
              <p>First of all, thanks to all our donors, sponsors and members for continuing to support the event and inherent causes. When we began our humble journey nine years ago, our goal was to find an opportunity to get like-minded professionals of the area together. But as we learned the ropes and found meaning in the celebration of an auspiscious event, we got ambitious. We grew exponentially in terms of membership, expanded to include wider communities and began to imbibe in social causes globally. 
                In search for the perfect re-creation of our home-town puja expereince, we decided to host the event in a tent (Bengali's call it a <strong style="font-size: 16px">Pandal</strong>), and started cooking the meals <strong style="font-size: 16px">(Bhog)</strong> in-house ourselves. With this, came the eternal Bengali pass-time called <strong style="font-size: 16px">Adda</strong>. 
                Two years ago, we took an audacious step - of making the event a <strong style="font-size: 16px">Non-Ticketed</strong> one, and only depended on optional member donations and kind sponsorships. 
                Last year, we were humbled to have hosted more than <strong style="font-size: 16px">2200</strong> patrons through the event days. Please feel free to check out last few year's festivities
                In our ninth year, we are taking bolder footsteps to grow in member base and an even more enriched experience for the participants. </p>
                <p>Hope to see you with your friends and family.</p>
            </div> 
            <br style="clear: both;">
            <h3 class="accordian-header"><i class="fas fa-bell"></i>&emsp;Durgotsav 2018</h3>
            <div>&nbsp;</div>                    
            <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="assets/2018Puja.jpg" alt="Angry Bird" class="past-images"/>
                    </div>
                     <div class="col-sm-6">
                        <p><strong>Venue :</strong> Braj Mandir Holbrook <br><b>Date :</b> 15th Oct - 20th Oct, 2018. <br><br>
                            Check out our photos from
                            <a href="https://www.facebook.com/boston.durgabari/media_set?set=a.1751772621598640&type=3" target="_blank">Durgotsav 2018</a>
                            Let's make it a memorable again!
                        </p>
                    </div>               
            </div>

            <br style="clear: both;">
            <h3 class="accordian-header"><i class="fas fa-bell"></i>&emsp;Durgotsav 2017</h3>
            <div>&nbsp;</div>                    
            <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="assets/2017Puja.jpg" alt="Angry Bird" class="past-images"/>
                    </div>
                     <div class="col-sm-6">
                        <p><strong>Venue :</strong> Clifford Elementary school <br><b>Date :</b> 30th Sept and 1st Oct, 2017. <br><br>
                            Check out our photos from
                            <a href="https://www.facebook.com/boston.durgabari/media_set?set=a.1336056903170216&type=3&fb_dtsg_ag=Adx1t8A3EF5mwQyL0y7Ewir_2eaM9NcZCXbJOh-cRMOOsg%3AAdzDiC6JRr0xSnwtCNg0acRrjPAabQpCO0DKCcPd9G6UEA" target="_blank">Durgotsav 2017</a>
                            Let's make it a memorable again!
                        </p>
                    </div>               
            </div>

            <br style="clear: both;">
            <h3 class="accordian-header"><i class="fas fa-bell"></i>&emsp;Durgotsav 2016</h3>
            <div>&nbsp;</div>                    
            <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="assets/2016Puja.jpg" alt="Angry Bird" class="past-images"/>
                    </div>
                     <div class="col-sm-6">
                        <p><strong>Venue :</strong> Braintree Middle school <br><b>Date :</b> 1st and 2nd Oct, 2016. <br><br>
                            Check out our photos from
                            <a href="https://www.facebook.com/boston.durgabari/media_set?set=a.997399137035996&type=3&fb_dtsg_ag=Adx1t8A3EF5mwQyL0y7Ewir_2eaM9NcZCXbJOh-cRMOOsg%3AAdzDiC6JRr0xSnwtCNg0acRrjPAabQpCO0DKCcPd9G6UEA" target="_blank">Durgotsav 2016</a>
                        </p>
                    </div>               
            </div>
        
            <br style="clear: both;">
            <h3 class="accordian-header"><i class="fas fa-bell"></i>&emsp;Durgotsav 2015</h3>
            <div>&nbsp;</div>                    
            <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="assets/2015Puja.jpg" alt="Angry Bird" class="past-images"/>
                    </div>
                     <div class="col-sm-6">
                        <p><strong>Venue :</strong> Clifford Elementary school <br><b>Date :</b> 17th and 18th Oct, 2015. <br><br>
                            Check out our photos from
                            <a href="https://www.facebook.com/boston.durgabari/media_set?set=a.794938777282034.1073741828.100002977585722&type=3" target="_blank">Durgotsav 2015</a>
                        </p>
                    </div>               
            </div>
            <br style="clear: both;">
            <div>&nbsp;</div>
            <h3 class="accordian-header"><i class="fas fa-drum"></i>&emsp;Fossils - Live in concert</h3>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="assets/pastConcert.jpg" alt="Angry Bird" class="past-images"/>
                    <div>&nbsp;</div>
                </div>
                <div class="col-sm-6">
                    <p>
                        A fun filled time with Bengaii premier rock band FOSSILS @ Littleton High School on 30th October 2015.
                    </p>
                    Check out our event page (
                    <a href="https://www.facebook.com/pg/fossilsinconcert/posts/?ref=page_internal" target="_blank">Fossil - Live in Concert</a>
                    )
                    <div>&nbsp;</div>
                </div>
           </div>

            <br style="clear: both;">
        </div>
  </div>
</section>
     
<div  style="background-color: #FFFF77; margin: 10px;"></div>
  
