<div  style="background-color: #FFFFE7; margin: 10px;"></div>
<section class="container">
    <div class="contentDiv" style="background-color: #FFFFE7">
        <div class="col-sm-12 container">
            <p>This is not a ticketed event. We solely depend on the generous contributions of our sponsors to make this event happen. </p>
        </div>
        <div class="col-sm-12 container">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <table border="2px" width="100%">
                  <td>
                      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="9D9RC5KLWDKQ8" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
                        
                  </td>
                </table> 
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
              <div class="headerDiv"><i class="fas fa-om"></i>&emsp;Donation Categories</div>
              <table border="2px" width="100%">
                <td>
                  Flowers(Any of the days) - $21<br>
                  Arati(Any of the days) - $31<br>
                  Puja (Any of the days) - $51<br>
                  Bhog (Any of the days, except Ashtami) - $101<br>
                  Ashtami Bhog - $201<br>
                  Kumari Puja - $501<br>
                  Sponsor a full day - $1001<br>
                  General - Any other amount you want to donate for the puja
                </td>
              </table>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div> 
        <div  style="background-color: #FFFFE7; margin: 10px;"></div>
        <div class="col-sm-12 container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 ">
                  <div class="headerDiv"><i class="fas fa-om"></i>&emsp;Our Sponsors</div>
                  <table border="2px" width="100%">
                  <td></td>
                  <td></td>
                  <td></td>
                  </table>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div> 
    </div>
</section>
<div  style="background-color: #FFFFE7; margin: 10px;"></div>