<div  style="background-color: #FFFFE7; margin: 10px;"></div>
      
<section class="container">
  <div class="contentDiv" style="background-color: #FFFFE7">
      <section class="row">
          <div class="col-sm-12 container" style="text-align:left">
            <p>After nine successful years of hosting Durga Puja and connecting New England communities, Boston Durga Bari welcomes you to yet another fun-packed <strong style="font-size: 20px"> four-day long</strong> event. As usual, our goal is to foster an open and collaborative platform for patrons to connect at various levels. This sense of camaraderie helps us to keep the event <strong style="font-size: 20px">non-ticketed</strong>. We only rely on voluntary <strong style="font-size: 20px">donations</strong> which help to keep the wheels spinning. </p><p>
                Please review the calendar of events and timing for each day below. Join us in the uber-casual group chats, fondly called <strong style="font-size: 20px">adda</strong>, while you savour the volunteer cooked meals. This year due to Covid related restrictions, we need prior registration for visitors. Please check out FAQ section for details.</p>We look forward to seeing you at the <strong style="font-size: 20px">pandal</strong>.
          </div>         
          <div class="col-sm-6 container">
            <div class="row">  
                <!--<div class="col-sm-1"></div>-->
                <div class="col-sm-12">
                    <div class="headerDiv"><i class="fas fa-om"></i>&emsp;Schedule</div>
                    <br>
                    <div width="100%" >    
                        <table width="100%" >
                        <tr>
                            <th>Date</th>
                            <th>Puja</th>
                            <th>Timing</th>
                        </tr>
                        <tr>
                            <td>Wednesday - 13th October</td>
                            <td>Saptami, Ashtami Puja</td>
                            <td>6:00 PM – 9:00 PM <br> 
                                Bodhon, Saptami and Ashtami Puja, Pushpanjali, Bhog
                            </td>
                        </tr>
                        <tr>
                            <td>Thursday - 14th October</td>
                            <td>Nabami Puja</td>
                            <td>6:00 PM – 9:00 PM<br>
                                Navami Puja, Pushpanjali, Bhog
                            </td>                                
                        </tr>
                        <tr>
                            <td>Friday - 15th October</td>
                            <td>Ashtami Puja</td>
                            <td>6:00 PM – 9:00 PM<br>
                                Dashami Puja, Bhog, Cultural Gala event (with band Philomela)
                            </td>
                        </tr>
                        <tr>
                            <td>Saturday - 16th October</td>
                            <td>Dashami continued..</td>
                            <td>10:30 AM – 8:00 PM <br> 
                                Morning (10:30AM - Noon) - Pushpanjali, Sindur khela
                                Afternoon (Noon - 4PM) - Bhog, Bisarjan, Cultural events, Adda
                                Evening (5PM - 8PM) - Cultural events
                            </td>
                        </tr>
                        <!--<tr>
                            <td>Tuesday - 8th October</td>
                            <td>Dashami Puja</td>
                            <td>6:30 PM – 10:00 PM <br> 
                                Puja, Arati, Bhog distribution and Sindur Khela
                            </td>
                        </tr>-->
                        <!--<tr>
                            <td>20th October</td>
                            <td>Visharjan</td>
                            <td>12:00 PM – Puja & Aarti <br> 
                                3:00 PM - Sindur Khela<br>
                                4:00 PM - Mishti Mukh<br>
                                5:00 PM - Cultural performance<br>
                                7:00 PM – Garba<br>
                                8:00 PM - DJ night<br>
                                8:00 PM - Bhog Distribution
                            </td>
                        </tr>-->
                        </table>
                    </div>
                </div>
            <!--<div class="col-sm-1"></div>-->
            </div>    
          </div>
          <div class="col-sm-6 container">
            <div class="row">  
                   <div class="col-sm-12">
                    <div class="headerDiv"><i class="fas fa-map-marker-alt"></i>&emsp;Venue</div>
                    <div class="col-sm-12">
                       <strong>Braj Mandir Hindu Temple</strong> <br>
                       <strong>711 S Franklin St, Holbrook, MA 02343</strong>
                    </div>
                    <div class="row">
                    <div id="map" class="col-sm-6" >
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47319.07246931795!2d-71.01379602369833!3d42.162225548134295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e4834ead996613%3A0x5ff5052f965f372f!2sBraj+Mandir+Hindu+Temple!5e0!3m2!1sen!2sus!4v1535807123737" height="200" width="100%" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                    <div class="col-sm-4">
                        <p>Parking Instructions</p>
                    </div></div>
                    <div class="headerDiv"><i class="fas fa-map-marker-alt"></i>&emsp;Testimonials</div>
                    <div class="row">
                        <br>
                        <i class="fa fa-quote-left"></i><blockquote class="wp-block-quote"><p>BDB DurgaPujo is one that is close to my heart. It simple but homely atmosphere is what we love. I will come back every year wiht my family for the adda and ofcourse food</p><cite>Deepen Ganguly, IT Architect</cite></blockquote>

                        <i class="fa fa-quote-left"></i><blockquote class="wp-block-quote"><p>I love going back to the Durga Bari puja mandap every year, not only because I can relive the pandal ambiance of my home town, but also my parents love to experience the charm   </p><cite>Eshita Chakraborty, Executive Producer</cite></blockquote>

                        <i class="fa fa-quote-left"></i><blockquote class="wp-block-quote"><p>I felt welcomed in the community; thoroughly enjoyed the Sindur Khela, Dhunuchi Dance, and Dandiya with DJ  </p><cite>Sunetra, QA Manager</cite></blockquote>

                        <i class="fa fa-quote-left"></i><blockquote class="wp-block-quote"><p>Getting to know young professionals in the area from various fields created a natural energy in the event. Two days here last year, built me local friend network that I could not leverage earlier  </p><cite>Deborpita, Scientist</cite></blockquote>

                    </div>
                </div>  
            </div>

          </div><br>
            <div class="col-sm-12 container" style="text-align:left">
            <div class="headerDiv"><i class="fas fa-map-marker-alt"></i>&emsp;Salutation</div>
            <p align="center"> सर्वमङ्गलमाङ्गल्ये शिवे सर्वार्थसाधिके ।<br>
                शरण्ये त्र्यम्बके गौरि नारायणि नमोऽस्तु ते ॥<br><br></p>
            <p>
                She is the most auspicious one and the one who bestows auspiciousness upon the entire world. She is pure and holy and protects those who surrender to her. With her three eyes, she is the Mother of the three worlds and is known as Gauri, daughter of the mountain king. We bow down to thee….Mother Durga.</p>
          </div> 
      </section>
  </div>
</section>     
 
<div  style="background-color: #FFFFE7; margin: 10px;"></div>
